h1 {
  font-size: 90px;
  text-align: center;
  color: red;
}
img {
  display: block;
  margin: auto;
}
h2 {
  text-align: center;
  color: red;
}
p {
  text-align: center;
}
ul {
  margin: auto;
  width: 700px;
}
p {
  margin: auto;
  width: 700px;
}
